@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');

:root {
  --primary-color: #d4bd18;
  --secondary-color: #6e4f48;
  --accent1-color: #956a37;
  --accent2-color: #c8a11f;
  --heading-font: 'Lato', serif;
  --paragraph-font: 'Open Sans', serif;
  --nav-bg-color: #ad7a46;
  --nav-link-color: white;
  --nav-hover-link-color: #7be694;
  --nav-hover-bg-color: #b88553f1;
  --font-color: #000;
}

body {
  font-family: var(--paragraph-font);
  padding: 20px;
  display: grid;
  max-width: 100vw;
  /* overflow-x: auto; */
}

h1,
h2 {
  color: #c8a11f;
  font-family: var(--heading-font);
  margin: 0 auto;
}
p {
  color: var(--font-color);
}
header nav {
  grid-column: 3/4;
  justify-self: center;
}
nav a {
  text-decoration: none;
  font-family: var(--paragraph-font);
  color: var(--nav-bg-color);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;
}
.hero {
  position: relative;
  max-width: 100vw;
}
.hero img {
  height: auto;
  width: 100%;
  overflow-x: auto;
}
.hero h1 {
  color: var(--nav-link-color);
  position: absolute;
  top: 3rem;
  left: 2rem;
}

.hero article img {
  position: absolute;
  top: 5rem;
  right: 2rem;
  width: 20%;
}
header img {
  width: 3rem;
  height: auto;
}
header {
  display: grid;
  grid-template-columns: minmax(120px) 1fr 1fr;
  align-items: center;
  margin: 7px;
  max-width: 100%;
}
article p {
  position: absolute;
  color: var(--nav-link-color);
  width: 72%;
  top: 5rem;
  left: 2rem;
  background-color: rgba(101, 101, 225, 0.4);
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
  height: 9rem;
  max-width: 100%;
}
footer nav a img {
  width: 2rem;
}
footer nav a img:hover {
  background-color: white;
  border-radius: 50%;
}
figcaption {
  color: var(--nav-bg-color);
  font-weight: 700;
}
footer p {
  color: var(--nav-link-color);
  font-family: var(--paragraph-font);
  font-weight: 700;
}
.grid {
  display: grid;
  justify-content: center;
}
